/* RESET*/
*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

.wrapper {
    width:80vw;
    max-width: 1600px;
    min-width:600px;
    margin: 0 auto;
    background-color: #97ABB1;
    height:100%
    outline: 3px solid #003366;
}

nav {
    height: 75px;
}

header{
    height: 300px;
}

#sec-one {
    height:350px;
}

#sec-one .wrapper {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

#sec-one article {
    outline: 3px solid #fff;
    background-color: #f0f8EA;
    width: 30%; /* the article elements are going to use 30% width of its parent. */
   /* height: 80%;*/ if you set height, you need to also center the items by using align items on the parent container*/
}
#sec-two {
    height:400px;
}

#sec-two .wrapper {
    display: flex;
    padding: 20px;
}

#sec-two article {
    outline:3px solid #fff;
    background-color: #F0F8EA
    flex-grow: 1;
}

#sec-two article:nth-child(2) { /*Only affect the second article inside #sec-two*/
    margin: 0 20px;
}
footer {
    height:250px;
    
}